[submodule ".vim/pack/vendor/start/ctrlp.vim"]
	path = .vim/pack/vendor/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/vendor/start/lightline"]
	path = .vim/pack/vendor/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule ".vim/pack/vendor/start/vim-smoothie.git"]
	path = .vim/pack/vendor/start/vim-smoothie.git
	url = https://github.com/psliwka/vim-smoothie.git
[submodule ".vim/pack/vendor/start/ack.vim"]
	path = .vim/pack/vendor/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/pack/vendor/start/ale"]
	path = .vim/pack/vendor/start/ale
	url = https://github.com/dense-analysis/ale.git
