[submodule ".vim/pack/vendor/start/lightline"]
	path = .vim/pack/vendor/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule ".vim/pack/vendor/start/vim-go"]
	path = .vim/pack/vendor/start/vim-go
	url = https://github.com/fatih/vim-go.git
